.footer {
    height: fit-content;
    padding: 20px;
    background-color: #101010;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    width: 143px;
    height: 25px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.footer_nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.footer_nav-link {
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.8125rem;
    cursor: pointer;
    transition: color 700ms;
}

.footer_nav-link:hover {
    color: #d87d4a;
}

.footer_company-desc {
    color: white;
    opacity: 0.5;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    font-size: 0.9375rem;
    margin-bottom: 30px;
    max-width: 700px;
}

.footer_bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_copyright-text {
    font-size: 0.9375rem;
    color: white;
    font-weight: 600;
    line-height: 1.5625rem;
    opacity: 0.5;
    margin-bottom: 50px;
}

.footer_social-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.footer_social-img {
    height: 24px;
    fill: white;
    transition: fill, 400ms;
}

.footer_social-img:hover {
    fill: #d87d4a;
}

@media screen and (min-width: 750px) {
    .footer {
        padding: 30px;
        align-items: flex-start;
    }

    .footer_nav-container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .footer_company-desc {
        text-align: left;
    }

    .footer_bottom-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: 30px;
    }

    .footer_copyright-text {
        margin: 0px;
    }
}

@media screen and (min-width: 1250px) {
    .footer_logo-nav-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .footer_logo {
        margin: 0px;
    }

    .footer_nav-container {
        margin: 0px;
        width: fit-content;
    }

    .footer_social-container {
        position: absolute;
        right: 30px;
        bottom: 100px;
    }
}