
.ProductList_category-header {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.ProductList_category-header-container {
    background-color: #191919;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    margin-bottom: 60px;
}